<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="growlForm">
			<p:growl id="growl" showDetail="false" />
		</h:form>
		<h:form prependId="false" id="dataForm">
			<p:panel id="data" toggleable="true" toggleSpeed="250">
				<f:facet name="header">
					<h:outputText value="#{presupuestoBean.name}" />
				</f:facet>
				<h:outputFormat id="noRecordsFound"
					value="#{messages.label_no_records_found}"
					rendered="#{!presupuestoBean.dataVisible}">
					<f:param value="Presupuestoes" />
				</h:outputFormat>
				<p:dataTable id="list" value="#{presupuestoBean.allPresupuestoes}"
					var="presupuesto" rendered="#{presupuestoBean.dataVisible}"
					resizableColumns="false" paginator="true"
					paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,25,50" rows="10">
					<p:columns value="#{presupuestoBean.columns}" var="column"
						columnIndexVar="colIndex">
						<f:facet name="header">
							<h:outputText value="#{applicationBean.getColumnName(column)}" />
						</f:facet>
						<h:outputText value="#{presupuesto[column]}" />
					</p:columns>
					<p:column styleClass="action-column">
						<f:facet name="header">
							<h:outputText value="Actions" />
						</f:facet>
						<p:commandButton id="viewButton" icon="ui-icon-zoomin"
							update=":viewDialog" oncomplete="viewDialog.show()"
							title="#{messages.label_view}">
							<f:setPropertyActionListener value="#{presupuesto}"
								target="#{presupuestoBean.presupuesto}" />
						</p:commandButton>
						<p:tooltip for="viewButton" value="#{messages.label_view}"
							showEffect="fade" hideEffect="fade" />
						<p:commandButton id="editButton" icon="ui-icon-pencil"
							update=":editDialog"
							action="#{presupuestoBean.onEdit}" oncomplete="editDialog.show()"
							title="#{messages.label_edit}">
							<f:setPropertyActionListener value="#{presupuesto}"
								target="#{presupuestoBean.presupuesto}" />
						</p:commandButton>
						<p:tooltip for="editButton" value="#{messages.label_edit}"
							showEffect="fade" hideEffect="fade" />
						<p:commandButton id="deleteButton" icon="ui-icon-trash"
							oncomplete="deleteDialog.show()" title="#{messages.label_delete}">
							<f:setPropertyActionListener value="#{presupuesto}"
								target="#{presupuestoBean.presupuesto}" />
						</p:commandButton>
						<p:tooltip for="deleteButton" value="#{messages.label_delete}"
							showEffect="fade" hideEffect="fade" />
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>

		<!-- CREATE DIALOG -->

		<p:dialog id="createDialog"
			header="#{messages.label_create} Presupuesto" modal="true"
			widgetVar="createDialog" dynamic="true"
			visible="#{presupuestoBean.createDialogVisible}" resizable="true"
			maximizable="true" showEffect="fade" hideEffect="explode">
			<p:ajax event="close" update=":dataForm:data"
				listener="#{presupuestoBean.handleDialogClose}" />
			<p:outputPanel id="createPanel">
				<h:form id="createForm" enctype="multipart/form-data">
					<h:panelGrid id="createPanelGrid">
						<p:tabView id="tabView">

							<!-- CREATE DIALOG | TAB AUTO -->

							<p:tab id="tab1" title="Auto">
								<h:panelGrid columns="4" cellpadding="10">
									<h:outputText value="Escriba la matrícula del vehículo: " />
									<p:autoComplete value="#{presupuestoBean.presupuesto.auto}"
										completeMethod="#{autoBean.completeAuto}" var="auto"
										itemLabel="#{auto.matricula}" itemValue="#{auto}"
										converter="com.sebastian.web.converter.AutoConverter" />
									<p:commandButton id="seleccionarAutoPresupuesto" ajax="false"
										value="Elegir" update="tab1 tab2" />
									<h:outputText value="" />
									<h:outputText value="Marca: " />
									<h:outputText value="#{presupuestoBean.presupuesto.auto.marca}" />
									<h:outputText value="Modelo: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.modelo}" />
									<h:outputText value="Transmisión: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.transmision}" />
									<h:outputText value="Año: " />
									<h:outputText value="#{presupuestoBean.presupuesto.auto.ano}" />
									<h:outputText value="Combustión: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.combustion}" />
									<h:outputText value="Matrícula: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.matricula}" />
									<h:outputText value="Color: " />
									<table>
										<tr>
											<td
												style="border-style: solid; border-width: 1px; width: 25px; height: 15px; background-color: ##{presupuestoBean.presupuesto.auto.color}" />
										</tr>
									</table>
									<h:outputText value="Póliza: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.poliza}" />
									<h:outputText value="Motor: " />
									<h:outputText value="#{presupuestoBean.presupuesto.auto.motor}" />
								</h:panelGrid>
							</p:tab>

							<!-- CREATE DIALOG | TAB CLIENTE -->

							<p:tab id="tab2" title="Cliente">
								<h:panelGrid columns="4" cellpadding="10">
									<h:outputText value="Nombre: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.nombre}" />
									<h:outputText value="Apellido: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.apellido}" />
									<h:outputText value="Cédula: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.cedula}" />
									<h:outputText value="Dirección: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.direccion}" />
									<h:outputText value="Ciudad: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.ciudad}" />
									<h:outputText value="Teléfono: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.telefono}" />
									<h:outputText value="Celular: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.celular}" />
									<h:outputText value="Email: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.email}" />
								</h:panelGrid>
							</p:tab>

							<!-- CREATE DIALOG | TAB TRABAJO -->

							<p:tab id="tab3" title="Trabajo">
								<h:panelGrid columns="2" style="margin-bottom:10px"
									cellpadding="5">
									<h:outputText value="Tipo de trabajo: " />
									<p:selectOneMenu
										value="#{lineaManoObraBean.lineaManoObra.manoDeObra.tipoTrabajo}"
										effect="fade"
										converter="com.sebastian.web.converter.TipoTrabajoConverter">
										<f:selectItem itemLabel="Seleccione uno" itemValue="" />
										<f:selectItems value="#{tipoTrabajoBean.allTipoTrabajoes}"
											var="tipoTrabajo" itemLabel="#{tipoTrabajo.nombre}"
											itemValue="#{tipoTrabajo}" />
									</p:selectOneMenu>

									<h:outputText value="Horas: " />
									<h:inputText value="#{lineaManoObraBean.lineaManoObra.horas}" />

									<h:outputText value="Descripción: " />
									<h:inputText
										value="#{lineaManoObraBean.lineaManoObra.manoDeObra.descripcion}" />
								</h:panelGrid>

								<p:commandButton value="Agregar línea" ajax="false"
									action="#{presupuestoBean.addLineaManoObra}" update="tab3" />

								<p></p>

								<p:dataTable id="tablaLineasManoDeObra" var="linea"
									value="#{presupuestoBean.presupuesto.listaManoObra}">
									<p:column id="modelHeader">
										<f:facet name="header">
		                    Trabajo  
		            </f:facet>
										<h:outputText value="#{linea.manoDeObra.tipoTrabajo.nombre}" />
									</p:column>

									<p:column>
										<f:facet name="header">  
		                    Descripción  
		            </f:facet>
										<h:outputText value="#{linea.manoDeObra.descripcion}" />
									</p:column>

									<p:column>
										<f:facet name="header">  
		                    Horas  
		            </f:facet>
										<h:outputText value="#{linea.horas}" />
									</p:column>

									<p:column>
										<f:facet name="header">  
		                    Total  
		            </f:facet>
										<h:outputText value="#{linea.precioTotal}" />
									</p:column>
								</p:dataTable>
								<p></p>
								<h:outputText value="Total mano de obra: " />
								<h:outputFormat
									value="#{presupuestoBean.presupuesto.totalManoObra}" />

							</p:tab>

							<!-- CREATE DIALOG | TAB REPUESTOS -->

							<p:tab id="tab4" title="Repuestos">
								<h:form>
									<h:panelGrid columns="2" style="margin-bottom:10px"
										cellpadding="5">
										<h:outputText value="Comercio: " />
										<p:selectOneMenu
											value="#{lineaCompraBean.lineaCompra.comercio}" effect="fade"
											converter="com.sebastian.web.converter.ComercioConverter">
											<f:selectItem itemLabel="Seleccione uno" itemValue="" />
											<f:selectItems value="#{comercioBean.allComercios}"
												var="comercio" itemLabel="#{comercio.nombre}"
												itemValue="#{comercio}" />
										</p:selectOneMenu>

										<h:outputText value="Código: " />
										<h:inputText value="#{lineaCompraBean.lineaCompra.codigo}" />

										<h:outputText value="Precio: " />
										<h:inputText value="#{lineaCompraBean.lineaCompra.precio}" />

										<h:outputText value="Cantidad: " />
										<h:inputText value="#{lineaCompraBean.lineaCompra.cantidad}" />

										<h:outputText value="Descripción: " />
										<h:inputText
											value="#{lineaCompraBean.lineaCompra.descripcion}" />
									</h:panelGrid>

									<p:commandButton value="Agregar línea" ajax="false"
										action="#{presupuestoBean.addLineaCompra}" update="tab4" />
								</h:form>
								<p></p>
								<h:form prependId="false">
									<p:dataTable id="tablaLineasCompras" var="lineaCompra"
										value="#{presupuestoBean.presupuesto.listaCompras}">
										<p:column id="modelHeader">
											<f:facet name="header">
		                    Comercio  
		            </f:facet>
											<h:outputText value="#{lineaCompra.comercio.nombre}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Código  
		            </f:facet>
											<h:outputText value="#{lineaCompra.codigo}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Descripción  
		            </f:facet>
											<h:outputText value="#{lineaCompra.descripcion}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Precio  
		            </f:facet>
											<h:outputText value="#{lineaCompra.precio}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Cantidad  
		            </f:facet>
											<h:outputText value="#{lineaCompra.cantidad}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Subtotal  
		            </f:facet>
											<h:outputText value="#{lineaCompra.precioTotal}" />
										</p:column>
									</p:dataTable>
									<p></p>
									<h:outputText value="Total compras: " />
									<h:outputFormat
										value="#{presupuestoBean.presupuesto.totalCompra}" />
								</h:form>
							</p:tab>

							<!-- CREATE DIALOG | TAB FOTOS -->

							<p:tab id="tab5" title="Fotos">
								<h:panelGrid id="images_panelGrid" columns="2" cellpadding="10">
									<p:commandButton type="button" onclick="switcher.previous();"
										icon="ui-icon-circle-triangle-w" />
									<p:commandButton type="button" onclick="switcher.next();"
										icon="ui-icon-circle-triangle-e" />

									<p:imageSwitch id="images" effect="toss" widgetVar="switcher"
										slideshowAuto="false">
										<ui:repeat value="#{presupuestoBean.allImages}" var="image">
											<p:graphicImage value="#{mediaBean.fileToDownload}">
												<f:param name="file_id" value="#{image}" />
											</p:graphicImage>
										</ui:repeat>
									</p:imageSwitch>

									<p></p>

									<p:fileUpload
										fileUploadListener="#{presupuestoBean.handleFileUpload}"
										mode="advanced" update="images_panelGrid" multiple="true"
										sizeLimit="5000000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

								</h:panelGrid>
							</p:tab>

							<!-- CREATE DIALOG | TAB NOTAS -->

							<p:tab id="tab6" title="Notas">
								<h:panelGrid columns="2" cellpadding="10">
									<h:outputText value="Notas: " />
									<p:inputTextarea
										value="#{presupuestoBean.presupuesto.observaciones}"
										id="inputarea" rows="15" cols="60" />
								</h:panelGrid>
							</p:tab>

							<!-- CREATE DIALOG | TAB RESÚMEN -->

							<p:tab id="tab7" title="Resúmen">
								<h:panelGrid columns="2" cellpadding="10">
									<h:outputText value="Total presupuesto: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.precioTotal}" />
								</h:panelGrid>
							</p:tab>
						</p:tabView>
					</h:panelGrid>
					<p:commandButton id="createSaveButton"
						value="#{messages.label_save}" action="#{presupuestoBean.persist}"
						update="createPanelGrid :growlForm:growl" />
					<p:commandButton id="createCloseButton"
						value="#{messages.label_close}" onclick="createDialog.hide()"
						type="button" />
				</h:form>
			</p:outputPanel>
		</p:dialog>

		<!-- EDIT DIALOG -->

		<p:dialog id="editDialog" header="#{messages.label_edit} Presupuesto"
			modal="true" widgetVar="editDialog" dynamic="true" resizable="true"
			maximizable="true" showEffect="fade" hideEffect="explode">
			<p:ajax event="close" update=":dataForm:data"
				listener="#{presupuestoBean.handleDialogClose}" />
			<p:outputPanel id="createPanelEdit">
				<h:form id="createFormEdit" enctype="multipart/form-data">
					<h:panelGrid id="createPanelGridEdit">
						<p:tabView id="tabViewEdit">

							<!-- EDIT DIALOG | TAB AUTO -->

							<p:tab id="tab1Edit" title="Auto">
								<h:panelGrid columns="4" cellpadding="10">
									<h:outputText value="Escriba la matrícula del vehículo: " />
									<p:autoComplete value="#{presupuestoBean.presupuesto.auto}"
										completeMethod="#{autoBean.completeAuto}" var="auto"
										itemLabel="#{auto.matricula}" itemValue="#{auto}"
										converter="com.sebastian.web.converter.AutoConverter" />
									<p:commandButton id="seleccionarAutoPresupuestoEdit" ajax="false"
										value="Elegir" update="tab1Edit tab2Edit" />
									<h:outputText value="" />
									<h:outputText value="Marca: " />
									<h:outputText value="#{presupuestoBean.presupuesto.auto.marca}" />
									<h:outputText value="Modelo: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.modelo}" />
									<h:outputText value="Transmisión: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.transmision}" />
									<h:outputText value="Año: " />
									<h:outputText value="#{presupuestoBean.presupuesto.auto.ano}" />
									<h:outputText value="Combustión: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.combustion}" />
									<h:outputText value="Matrícula: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.matricula}" />
									<h:outputText value="Color: " />
									<table>
										<tr>
											<td
												style="border-style: solid; border-width: 1px; width: 25px; height: 15px; background-color: ##{presupuestoBean.presupuesto.auto.color}" />
										</tr>
									</table>
									<h:outputText value="Póliza: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.poliza}" />
									<h:outputText value="Motor: " />
									<h:outputText value="#{presupuestoBean.presupuesto.auto.motor}" />
								</h:panelGrid>
							</p:tab>

							<!-- EDIT DIALOG | TAB CLIENTE -->

							<p:tab id="tab2Edit" title="Cliente">
								<h:panelGrid columns="4" cellpadding="10">
									<h:outputText value="Nombre: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.nombre}" />
									<h:outputText value="Apellido: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.apellido}" />
									<h:outputText value="Cédula: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.cedula}" />
									<h:outputText value="Dirección: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.direccion}" />
									<h:outputText value="Ciudad: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.ciudad}" />
									<h:outputText value="Teléfono: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.telefono}" />
									<h:outputText value="Celular: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.celular}" />
									<h:outputText value="Email: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.email}" />
								</h:panelGrid>
							</p:tab>

							<!-- EDIT DIALOG | TAB TRABAJO -->

							<p:tab id="tab3Edit" title="Trabajo">
								<h:panelGrid columns="2" style="margin-bottom:10px"
									cellpadding="5">
									<h:outputText value="Tipo de trabajo: " />
									<p:selectOneMenu
										value="#{lineaManoObraBean.lineaManoObra.manoDeObra.tipoTrabajo}"
										effect="fade"
										converter="com.sebastian.web.converter.TipoTrabajoConverter">
										<f:selectItem itemLabel="Seleccione uno" itemValue="" />
										<f:selectItems value="#{tipoTrabajoBean.allTipoTrabajoes}"
											var="tipoTrabajo" itemLabel="#{tipoTrabajo.nombre}"
											itemValue="#{tipoTrabajo}" />
									</p:selectOneMenu>

									<h:outputText value="Horas: " />
									<h:inputText value="#{lineaManoObraBean.lineaManoObra.horas}" />

									<h:outputText value="Descripción: " />
									<h:inputText
										value="#{lineaManoObraBean.lineaManoObra.manoDeObra.descripcion}" />
								</h:panelGrid>

								<p:commandButton value="Agregar línea" ajax="false"
									action="#{presupuestoBean.addLineaManoObra}"  />

								<p></p>

								<p:dataTable id="tablaLineasManoDeObraEdit" var="linea"
									value="#{presupuestoBean.presupuesto.listaManoObra}">
									<p:column id="modelHeaderEdit">
										<f:facet name="header">
		                    Trabajo  
		            </f:facet>
										<h:outputText value="#{linea.manoDeObra.tipoTrabajo.nombre}" />
									</p:column>

									<p:column>
										<f:facet name="header">  
		                    Descripción  
		            </f:facet>
										<h:outputText value="#{linea.manoDeObra.descripcion}" />
									</p:column>

									<p:column>
										<f:facet name="header">  
		                    Horas  
		            </f:facet>
										<h:outputText value="#{linea.horas}" />
									</p:column>

									<p:column>
										<f:facet name="header">  
		                    Total  
		            </f:facet>
										<h:outputText value="#{linea.precioTotal}" />
									</p:column>
								</p:dataTable>
								<p></p>
								<h:outputText value="Total mano de obra: " />
								<h:outputFormat
									value="#{presupuestoBean.presupuesto.totalManoObra}" />

							</p:tab>

							<!-- EDIT DIALOG | TAB REPUESTOS -->

							<p:tab id="tab4Edit" title="Repuestos">
								<h:form>
									<h:panelGrid columns="2" style="margin-bottom:10px"
										cellpadding="5">
										<h:outputText value="Comercio: " />
										<p:selectOneMenu
											value="#{lineaCompraBean.lineaCompra.comercio}" effect="fade"
											converter="com.sebastian.web.converter.ComercioConverter">
											<f:selectItem itemLabel="Seleccione uno" itemValue="" />
											<f:selectItems value="#{comercioBean.allComercios}"
												var="comercio" itemLabel="#{comercio.nombre}"
												itemValue="#{comercio}" />
										</p:selectOneMenu>

										<h:outputText value="Código: " />
										<h:inputText value="#{lineaCompraBean.lineaCompra.codigo}" />

										<h:outputText value="Precio: " />
										<h:inputText value="#{lineaCompraBean.lineaCompra.precio}" />

										<h:outputText value="Cantidad: " />
										<h:inputText value="#{lineaCompraBean.lineaCompra.cantidad}" />

										<h:outputText value="Descripción: " />
										<h:inputText
											value="#{lineaCompraBean.lineaCompra.descripcion}" />
									</h:panelGrid>

									<p:commandButton value="Agregar línea" ajax="false"
										action="#{presupuestoBean.addLineaCompra}" update="tab4Edit" />
								</h:form>
								<p></p>
								<h:form prependId="false">
									<p:dataTable id="tablaLineasComprasEdit" var="lineaCompra"
										value="#{presupuestoBean.presupuesto.listaCompras}">
										<p:column id="modelHeaderEdit">
											<f:facet name="header">
		                    Comercio  
		            </f:facet>
											<h:outputText value="#{lineaCompra.comercio.nombre}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Código  
		            </f:facet>
											<h:outputText value="#{lineaCompra.codigo}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Descripción  
		            </f:facet>
											<h:outputText value="#{lineaCompra.descripcion}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Precio  
		            </f:facet>
											<h:outputText value="#{lineaCompra.precio}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Cantidad  
		            </f:facet>
											<h:outputText value="#{lineaCompra.cantidad}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Subtotal  
		            </f:facet>
											<h:outputText value="#{lineaCompra.precioTotal}" />
										</p:column>
									</p:dataTable>
									<p></p>
									<h:outputText value="Total compras: " />
									<h:outputFormat
										value="#{presupuestoBean.presupuesto.totalCompra}" />
								</h:form>
							</p:tab>

							<!-- EDIT DIALOG | TAB FOTOS -->

							<p:tab id="tab5Edit" title="Fotos">
								<h:panelGrid id="images_panelGridEdit" columns="2" cellpadding="10">
									<p:commandButton type="button" onclick="switcher.previous();"
										icon="ui-icon-circle-triangle-w" />
									<p:commandButton type="button" onclick="switcher.next();"
										icon="ui-icon-circle-triangle-e" />

									<p:imageSwitch id="imagesEdit" effect="toss" widgetVar="switcher"
										slideshowAuto="false">
										<ui:repeat value="#{presupuestoBean.allImages}" var="image">
											<p:graphicImage value="#{mediaBean.fileToDownload}">
												<f:param name="file_id" value="#{image}" />
											</p:graphicImage>
										</ui:repeat>
									</p:imageSwitch>

									<p></p>

									<p:fileUpload
										fileUploadListener="#{presupuestoBean.handleFileUpload}"
										mode="advanced" update="images_panelGridEdit" multiple="true"
										sizeLimit="5000000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

								</h:panelGrid>
							</p:tab>

							<!-- EDIT DIALOG | TAB NOTAS -->

							<p:tab id="tab6Edit" title="Notas">
								<h:panelGrid columns="2" cellpadding="10">
									<h:outputText value="Notas: " />
									<p:inputTextarea
										value="#{presupuestoBean.presupuesto.observaciones}"
										id="inputareaEdit" rows="15" cols="60" />
								</h:panelGrid>
							</p:tab>

							<!-- EDIT DIALOG | TAB RESÚMEN -->

							<p:tab id="tab7Edit" title="Resúmen">
								<h:panelGrid columns="2" cellpadding="10">
									<h:outputText value="Total presupuesto: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.precioTotal}" />
								</h:panelGrid>
							</p:tab>
						</p:tabView>
					</h:panelGrid>
					<p:commandButton id="editSaveButton" value="#{messages.label_save}" action="#{presupuestoBean.persist}" update="createPanelGridEdit :growlForm:growl" />
          			<p:commandButton id="editCloseButton" value="#{messages.label_close}" onclick="editDialog.hide()" type="button" />
				</h:form>
			</p:outputPanel>
		</p:dialog>

		<!-- VIEW DIALOG -->

		<p:dialog id="viewDialog" header="#{messages.label_view} Presupuesto"
			modal="true" widgetVar="viewDialog" dynamic="true" resizable="true"
			maximizable="true" showEffect="fade" hideEffect="explode">
			<p:ajax event="close" update=":dataForm:data"
				listener="#{presupuestoBean.handleDialogClose}" />
			<p:outputPanel id="createPanelView">
				<h:form id="createFormView" enctype="multipart/form-data">
					<h:panelGrid id="createPanelGridView">
						<p:tabView id="tabViewView">

							<!-- VIEW DIALOG | TAB AUTO -->

							<p:tab id="tab1View" title="Auto">
								<h:panelGrid columns="4" cellpadding="10">
									<h:outputText value="Matrícula: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.matricula}" />
									<h:outputText value="Marca: " />
									<h:outputText value="#{presupuestoBean.presupuesto.auto.marca}" />
									<h:outputText value="Modelo: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.modelo}" />
									<h:outputText value="Transmisión: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.transmision}" />
									<h:outputText value="Año: " />
									<h:outputText value="#{presupuestoBean.presupuesto.auto.ano}" />
									<h:outputText value="Combustión: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.combustion}" />
									<h:outputText value="Matrícula: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.matricula}" />
									<h:outputText value="Color: " />
									<table>
										<tr>
											<td
												style="border-style: solid; border-width: 1px; width: 25px; height: 15px; background-color: ##{presupuestoBean.presupuesto.auto.color}" />
										</tr>
									</table>
									<h:outputText value="Póliza: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.poliza}" />
									<h:outputText value="Motor: " />
									<h:outputText value="#{presupuestoBean.presupuesto.auto.motor}" />
								</h:panelGrid>
							</p:tab>

							<!-- VIEW DIALOG | TAB CLIENTE -->

							<p:tab id="tab2View" title="Cliente">
								<h:panelGrid columns="4" cellpadding="10">
									<h:outputText value="Nombre: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.nombre}" />
									<h:outputText value="Apellido: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.apellido}" />
									<h:outputText value="Cédula: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.cedula}" />
									<h:outputText value="Dirección: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.direccion}" />
									<h:outputText value="Ciudad: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.ciudad}" />
									<h:outputText value="Teléfono: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.telefono}" />
									<h:outputText value="Celular: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.celular}" />
									<h:outputText value="Email: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.auto.cliente.email}" />
								</h:panelGrid>
							</p:tab>

							<!-- VIEW DIALOG | TAB TRABAJO -->

							<p:tab id="tab3View" title="Trabajo">
								<h:outputText value="Detalle de los trabajos realizados" />
								<p></p>
								<p:dataTable id="tablaLineasManoDeObraView" var="linea"
									value="#{presupuestoBean.presupuesto.listaManoObra}">
									<p:column id="modelHeaderView">
										<f:facet name="header">
		                    Trabajo  
		            </f:facet>
										<h:outputText value="#{linea.manoDeObra.tipoTrabajo.nombre}" />
									</p:column>

									<p:column>
										<f:facet name="header">  
		                    Descripción  
		            </f:facet>
										<h:outputText value="#{linea.manoDeObra.descripcion}" />
									</p:column>

									<p:column>
										<f:facet name="header">  
		                    Horas  
		            </f:facet>
										<h:outputText value="#{linea.horas}" />
									</p:column>

									<p:column>
										<f:facet name="header">  
		                    Total  
		            </f:facet>
										<h:outputText value="#{linea.precioTotal}" />
									</p:column>
								</p:dataTable>
								<p></p>
								<h:outputText value="Total mano de obra: " />
								<h:outputFormat
									value="#{presupuestoBean.presupuesto.totalManoObra}" />

							</p:tab>

							<p:tab id="tab4View" title="Repuestos">
								<h:outputText value="Detalle de los repuestos comprados" />
								<p></p>
								<p></p>
								<h:form prependId="false">
									<p:dataTable id="tablaLineasComprasView" var="lineaCompra"
										value="#{presupuestoBean.presupuesto.listaCompras}">
										<p:column id="modelHeaderView">
											<f:facet name="header">
		                    Comercio  
		            </f:facet>
											<h:outputText value="#{lineaCompra.comercio.nombre}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Código  
		            </f:facet>
											<h:outputText value="#{lineaCompra.codigo}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Descripción  
		            </f:facet>
											<h:outputText value="#{lineaCompra.descripcion}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Precio  
		            </f:facet>
											<h:outputText value="#{lineaCompra.precio}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Cantidad  
		            </f:facet>
											<h:outputText value="#{lineaCompra.cantidad}" />
										</p:column>

										<p:column>
											<f:facet name="header">  
		                    Subtotal  
		            </f:facet>
											<h:outputText value="#{lineaCompra.precioTotal}" />
										</p:column>
									</p:dataTable>
									<p></p>
									<h:outputText value="Total compras: " />
									<h:outputFormat
										value="#{presupuestoBean.presupuesto.totalCompra}" />
								</h:form>
							</p:tab>

							<!-- VIEW DIALOG | TAB FOTOS -->

							<p:tab id="tab5View" title="Fotos">
								<p:commandButton type="button" onclick="switcher.previous();"
									icon="ui-icon-circle-triangle-w" />
								<p:commandButton type="button" onclick="switcher.next();"
									icon="ui-icon-circle-triangle-e" />

								<p:imageSwitch id="imagesView" effect="toss"
									widgetVar="switcher" slideshowAuto="false">
									<ui:repeat value="#{presupuestoBean.allImages}" var="image">
										<p:graphicImage value="#{mediaBean.fileToDownload}">
											<f:param name="file_id" value="#{image}" />
										</p:graphicImage>
									</ui:repeat>
								</p:imageSwitch>
							</p:tab>

							<!-- VIEW DIALOG | TAB NOTAS -->

							<p:tab id="tab6View" title="Notas">
								<h:panelGrid columns="2" cellpadding="10">
									<h:outputText value="Notas: " />
									<p:inputTextarea
										value="#{presupuestoBean.presupuesto.observaciones}"
										id="inputareaView" rows="15" cols="60" disabled="true" />
								</h:panelGrid>
							</p:tab>

							<!-- VIEW DIALOG | TAB RESÚMEN -->

							<p:tab id="tab7View" title="Resúmen">
								<h:panelGrid columns="2" cellpadding="10">
									<h:outputText value="Total presupuesto: " />
									<h:outputText
										value="#{presupuestoBean.presupuesto.precioTotal}" />
								</h:panelGrid>
							</p:tab>

						</p:tabView>
					</h:panelGrid>
					<p:commandButton id="viewCloseButton"
						value="#{messages.label_close}" onclick="viewDialog.hide()"
						type="button" />
				</h:form>
			</p:outputPanel>
		</p:dialog>
		
		<!-- DELETE DIALOG -->
		
		<p:confirmDialog id="deleteDialog" widgetVar="deleteDialog"
			message="#{messages.label_delete_record}" showEffect="fade"
			hideEffect="explode" header="#{messages.label_confirm_deletion}"
			severity="alarm">
			<p:outputPanel id="deletePanel">
				<h:form id="deleteForm">
					<p:commandButton id="deleteYesButton" value="#{messages.label_yes}"
						action="#{presupuestoBean.delete}"
						update=":dataForm:data :growlForm:growl"
						oncomplete="deleteDialog.hide()" />
					<p:commandButton id="deleteNoButton" value="#{messages.label_no}"
						onclick="deleteDialog.hide()" type="button" />
				</h:form>
			</p:outputPanel>
		</p:confirmDialog>
		
	</ui:define>
</ui:composition>
</html>